{extend name="base" /}


<!--CSS引用-->
{block name="css"}
{__block__}

    <link rel="stylesheet" href="{$Think.config.sys_config.lmx_static_url}/modules/admin/account/css/login.css?t={$Think.config.sys_config.lmx_version}" >
{/block}

{block name="body"}
{__block__}


<div class="login-layout">
    <div class="logo"></div>
    <form action="" name='theForm' id="theForm" onsubmit="return false;">
        <div class="login-form" style="position: relative">
            <div class="formContent">
                <div class="title">管理中心</div>
                <div class="formInfo">
                    <div class="formText">
                        <i class="icon icon-user"></i>
                        <input type="text" name="username" autocomplete="off" class="input-text" value="" placeholder="用户名" />
                    </div>
                    <div class="formText">
                        <i class="icon icon-pwd"></i>
                        <input type="password" name="password" autocomplete="off" class="input-text" value="" placeholder="密  码" />
                    </div>
                    <div class="formText">
                        <div class="checkbox">
                            <div class="cur"></div>
                        </div>
                        <span class="span">保存信息</span>
                        <a href="get_password.php?act=forget_pwd" class="forget_pwd">忘记密码？</a>
                    </div>
                    <div class="formText submitDiv">
                        <span class="text_span">
                            <div class="code">
                                <div class="arrow"></div>
                                <div class="code-img"><img style="cursor: pointer;" src="index.php?act=captcha" onclick= $(".code-img").find('img').attr('src',"index.php?act=captcha&"+Math.random()) /></div>
                            </div>
                            <input type="text" name="captcha" class="input-yzm" value="" autocomplete="off" />
                        </span>
                        <span class="submit_span">
                            <input type="button" name="submit" class="sub" value="登录" />
                        </span>
                    </div>
                </div>
            </div>
            <div id="error" style="position: absolute;left:0px;bottom: 30px;text-align: center;width:395px;">

            </div>
        </div>
    </form>
</div>


{/block}


{block name="js"}
{__block__}

<!--登录模块js-->
<script src="{$Think.config.sys_config.lmx_static_url}/modules/admin/account/js/login.js?t={$Think.config.sys_config.lmx_version}"></script>

{/block}



<!--页面JS脚本-->
{block name="script"}
{__block__}

<script type="text/javascript">

    $(function(){

        // 输入框的高亮
        $(".formText .input-text").focus(function(){
            $(this).parent().addClass("focus");
        });

        $(".formText .input-text").blur(function(){
            $(this).parent().removeClass("focus");
        });

        // 保存信息的切换
        $(".checkbox").click(function(){
            $(this).toggleClass('checked');
        });

        // 验证码的显示与隐藏
        $(".formText .input-yzm").focus(function(){
            $(this).prev().show();
        });

        $(".formText").blur(function(){
            $(this).prev().hide();
        });


        //提交登录请求
        $('#error').html('<span class="error">用户名或密码错误!</span>');

    });
</script>

{/block}

