
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>{block name="title"}{$title ?? ''}--{$Think.config.sys_config.lmx_title ?? '后台管理'}{/block}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">

    <!--公共css-->
    {include file="header" /}

    <!--CSS引用-->
    <link rel="stylesheet" href="{$Think.config.sys_config.lmx_static_url}/modules/admin/index/css/index.css?t={$Think.config.sys_config.lmx_version}" >
    <link rel="stylesheet" href="{$Think.config.sys_config.lmx_static_url}/extend/admin/sidebarMenu.css?t={$Think.config.sys_config.lmx_version}" >

</head>

<body style="background-color: rgb(70, 142, 51);overflow: hidden;">

    <div class="admin-header clearfix">
        <!-- 颜色选择层 bylu -->
        <div class="bgSelector"></div>
        <div class="admin-logo">
            <a href="javascript:void(0);" data-url="index.php?act=main" data-param="index|main" target="workspace"><img src="images/admin-logo.png"></a>
            <div class="foldsider"><i class="icon icon-indent-left"></i></div>
        </div>
        <div class="module-menu">
            <ul>
                <li data-param="menuplatform" class="active"><a href="javascript:void(0);">平台</a></li>                                                			<li data-param="menushopping"><a href="javascript:void(0);">商城</a></li>                                                			<li data-param="ectouch"><a href="javascript:void(0);">手机</a></li>                                                			<li data-param="menuinformation"><a href="javascript:void(0);">资源</a></li>                            		</ul>
        </div>
        <div class="admin-header-right">
            <div class="manager">
                <dl>
                    <dt class="name">admin</dt>
                    <dd class="group">超级管理员</dd>
                </dl>
                <span class="avatar">
                    <form action="index.php" id="fileForm" method="post" enctype="multipart/form-data" runat="server">
                        <input name="img" class="admin-avatar-file" id="_pic" title="设置管理员头像" type="file">
                    </form>
                    <img nctype="admin_avatar" src="images/admin.png">
                </span>
                <i class="arrow" id="admin-manager-btn"></i>
                <div class="manager-menu">
                    <div class="title">
                        <h4>最后登录</h4>
                        <a href="privilege.php?act=edit&amp;id=39" target="workspace" class="edit_pwd">修改密码</a>
                    </div>
                    <div class="login-date">
                        <strong>2017-01-18 15:30:14</strong>
                        <span>(IP:220.248.85.234)</span>
                    </div>
                    <div class="title mt10">
                        <h4>常用操作</h4>
                        <a href="javascript:;" class="add_nav">添加菜单</a>
                    </div>
                    <div class="quick_link">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="operate">
                <li style="position: relative;">
                    <a href="javascript:void(0);" class="msg" title="查看消息">&nbsp;</a>
                    <!-- 消息通知 bylu -->
                    <!-- <div id="msg_Container">
                        <h3>消息通知</h3>
                        <div class="msg_content"><div class="no_msg">暂无消息!</div></div>
                    </div>-->
                </li>
                <i></i>
                <li><a href="../" target="_blank" class="home" title="新窗口打开商城首页">&nbsp;</a></li>
                <i></i>
                <li><a href="javascript:void(0);" class="sitemap" title="查看全部管理菜单">&nbsp;</a></li>
                <i></i>
                <li><a href="javascript:void(0);" id="trace_show" class="style-color" title="给管理中心换个颜色">&nbsp;</a></li>
                <i></i>
                <li><a href="index.php?act=clear_cache" class="clear" target="workspace" title="清除缓存">&nbsp;</a></li>
                <i></i>
                <li><a href="privilege.php?act=logout" class="prompt" title="安全退出管理中心">&nbsp;</a></li>
            </div>
        </div>
    </div>

    <div class="admin-main">
        <div class="top-border"></div>
        <div class="admin-main-left">
            <div class="admincj_nav">
                <div class="navLeftTab" id="adminNavTabs_menuplatform" style="">
                    <div class="item current">
                        <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_01_system"></i><h4>设置</h4></a></div>
                        <div class="sub-menu" style="top: 0px; display: block;">
                            <ul>
                                <li class="curr"><s></s><a href="javascript:void(0);" data-url="shop_config.php?act=list_edit" data-param="menuplatform|01_shop_config" target="workspace">商店设置</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="reg_fields.php?act=list" data-param="menuplatform|021_reg_fields" target="workspace">会员注册项设置</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="payment.php?act=list" data-param="menuplatform|02_payment_list" target="workspace">支付方式</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="shipping.php?act=list" data-param="menuplatform|03_area_shipping" target="workspace">地区&amp;配送</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="shop_config.php?act=mail_settings" data-param="menuplatform|04_mail_settings" target="workspace">邮件服务器设置</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="cron.php?act=list" data-param="menuplatform|07_cron_schcron" target="workspace">计划任务</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="friend_link.php?act=list" data-param="menuplatform|08_friendlink_list" target="workspace">友情链接</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="friend_partner.php?act=list" data-param="menuplatform|09_partnerlink_list" target="workspace">合作伙伴</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="oss_configure.php?act=list" data-param="menuplatform|api" target="workspace">接口对接</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="captcha_manage.php?act=main" data-param="menuplatform|captcha_manage" target="workspace">验证码设置</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="check_file_priv.php?act=check" data-param="menuplatform|check_file_priv" target="workspace">文件权限检测</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="navigator.php?act=list" data-param="menuplatform|navigator" target="workspace">自定义导航栏</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="sitemap.php" data-param="menuplatform|sitemap" target="workspace">站点地图</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="keywords_manage.php?act=list" data-param="menuplatform|user_keywords_list" target="workspace">用户检索记录</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_05_banner"></i><h4>广告管理</h4></a></div>
                        <div class="sub-menu" style="top: -68px; display: none;">
                            <ul>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="ads.php?act=list" data-param="menuplatform|ad_list" target="workspace">广告列表</a></li>
                                <li class="curr"><s></s><a href="javascript:void(0);" data-url="ad_position.php?act=list" data-param="menuplatform|ad_position" target="workspace">广告位置</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_06_stats"></i><h4>统计</h4></a></div>
                        <div class="sub-menu" style="top: -136px; display: none;">
                            <ul>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="guest_stats.php?act=list" data-param="menuplatform|report_guest" target="workspace">客户统计</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="order_stats.php?act=list" data-param="menuplatform|report_order" target="workspace">订单统计</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="users_order.php?act=order_num" data-param="menuplatform|report_users" target="workspace">会员排行</a></li>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="sale_list.php?act=list" data-param="menuplatform|sale_list" target="workspace">销售明细</a></li>
                                <li class="curr"><s></s><a href="javascript:void(0);" data-url="visit_sold.php?act=list" data-param="menuplatform|visit_buy_per" target="workspace">访问购买率</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_07_content"></i><h4>文章管理</h4></a></div>
                        <div class="sub-menu" style="top: -204px; display: none;">
                            <ul>
                                <li class="curr"><s></s><a href="javascript:void(0);" data-url="articlecat.php?act=list" data-param="menuplatform|02_articlecat_list" target="workspace">文章分类</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="article.php?act=list" data-param="menuplatform|03_article_list" target="workspace">文章列表</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="article_auto.php?act=list" data-param="menuplatform|article_auto" target="workspace">文章自动发布</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="vote.php?act=list" data-param="menuplatform|vote_list" target="workspace">在线调查</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_08_members"></i><h4>会员</h4></a></div>
                        <div class="sub-menu" style="top: -272px; display: none;">
                            <ul>
                                <li class="curr"><s></s><a href="javascript:void(0);" data-url="users.php?act=list" data-param="menuplatform|03_users_list" target="workspace">会员列表</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="user_rank.php?act=list" data-param="menuplatform|05_user_rank_list" target="workspace">会员等级</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="integrate.php?act=list" data-param="menuplatform|06_list_integrate" target="workspace">会员整合</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="user_msg.php?act=list_all" data-param="menuplatform|08_unreply_msg" target="workspace">会员留言</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="user_account.php?act=list" data-param="menuplatform|09_user_account" target="workspace">充值和提现申请</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="user_account_manage.php?act=list" data-param="menuplatform|10_user_account_manage" target="workspace">资金管理</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="user_address_log.php?act=list" data-param="menuplatform|12_user_address_list" target="workspace">收货地址列表</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="user_baitiao_log.php?act=list" data-param="menuplatform|13_user_baitiao_info" target="workspace">会员白条</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="user_real.php?act=list" data-param="menuplatform|16_users_real" target="workspace">实名认证</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_10_priv_admin"></i><h4>权限管理</h4></a></div>
                        <div class="sub-menu" style="top: -340px; display: none;">
                            <ul>
                                <li class=""><s></s><a href="javascript:void(0);" data-url="privilege.php?act=list" data-param="menuplatform|01_admin_list" target="workspace">管理员列表</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="privilege_seller.php?act=list" data-param="menuplatform|02_admin_seller" target="workspace">下级管理员列表</a></li>
                                <li class="curr"><s></s><a href="javascript:void(0);" data-url="admin_logs.php?act=list" data-param="menuplatform|admin_logs" target="workspace">管理员日志</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="role.php?act=list" data-param="menuplatform|admin_role" target="workspace">角色管理</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="agency.php?act=list" data-param="menuplatform|agency_list" target="workspace">办事处列表</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="suppliers.php?act=list" data-param="menuplatform|suppliers_list" target="workspace">供货商列表</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_12_template"></i><h4>模板管理</h4></a></div>
                        <div class="sub-menu" style="top: -408px; display: none;">
                            <ul>
                                <li class="curr"><s></s><a href="javascript:void(0);" data-url="template.php?act=list" data-param="menuplatform|02_template_select" target="workspace">模板选择</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="template.php?act=setup" data-param="menuplatform|03_template_setup" target="workspace">设置模板</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="template.php?act=library" data-param="menuplatform|04_template_library" target="workspace">库项目管理</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="edit_languages.php?act=list" data-param="menuplatform|05_edit_languages" target="workspace">语言项编辑</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="template.php?act=backup_setting" data-param="menuplatform|06_template_backup" target="workspace">模板设置备份</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="mail_template.php?act=list" data-param="menuplatform|mail_template_manage" target="workspace">邮件模板</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_13_backup"></i><h4>数据库管理</h4></a></div>
                        <div class="sub-menu" style="top: -476px; display: none;">
                            <ul>
                                <li class="curr"><s></s><a href="javascript:void(0);" data-url="database.php?act=backup" data-param="menuplatform|02_db_manage" target="workspace">数据备份</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="database.php?act=optimize" data-param="menuplatform|03_db_optimize" target="workspace">数据表优化</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="sql.php?act=main" data-param="menuplatform|04_sql_query" target="workspace">SQL查询</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="table_prefix.php?act=edit" data-param="menuplatform|05_table_prefix" target="workspace">修改表前缀</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="transfer_manage.php" data-param="menuplatform|06_transfer_config" target="workspace">源站点信息设置</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="transfer_manage.php?act=choose" data-param="menuplatform|07_transfer_choose" target="workspace">迁移数据</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="convert.php?act=main" data-param="menuplatform|convert" target="workspace">转换数据</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_16_email_manage"></i><h4>邮件群发管理</h4></a></div>
                        <div class="sub-menu" style="top: -544px; display: none;">
                            <ul>
                                <li class="curr"><s></s><a href="javascript:void(0);" data-url="attention_list.php?act=list" data-param="menuplatform|attention_list" target="workspace">关注管理</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="email_list.php?act=list" data-param="menuplatform|email_list" target="workspace">邮件订阅管理</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="magazine_list.php?act=list" data-param="menuplatform|magazine_list" target="workspace">杂志管理</a></li>
                                <li><s></s><a href="javascript:void(0);" data-url="view_sendlist.php?act=list" data-param="menuplatform|view_sendlist" target="workspace">邮件队列管理</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-main-right">
            <iframe src="{:url('admin/main/index')}" id="workspace" name="workspace" scrolling="yes" width="100%" height="95%" frameborder="0"></iframe>
        </div>
    </div>


    <!--公共js-->
    {include file="footer" /}

    <!--JS引用-->
    <script src="{$Think.config.sys_config.lmx_static_url}/modules/admin/index/js/index.js?t={$Think.config.sys_config.lmx_version}"></script>


</body>

</html>