* {
    outline: medium none;
    overflow-wrap: break-word;
}
ul, ol, li {
    list-style-image: none;
    list-style-type: none;
}
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset {
    margin: 0;
    padding: 0;
}

.clearfix::after, .clearfix::before {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix::after, .clearfix::before {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.admin-header {
    min-width: 1200px;
    position: relative;
    width: 100%;
    z-index: 2;
}


/*头部颜色切换 start*/
div.bgSelector {
    /*display: none;*/
    text-align: left;
    width: 100%;
}

div.bgSelector div#bgColorSelector {
    overflow: hidden;
    width: 100%;
}

div.bgSelector div#bgColorSelector #bscParent {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 9998;
}
div.bgSelector div#bgColorSelector #bscParent #bscDrag {
    float: left;
    left: 0;
    position: absolute;
    z-index: 9999;
}

div.bgSelector div#bgColorSelector #bscParent #bscDrag img {
    cursor: ew-resize;
    height: 35px;
    position: relative;
    width: 47px;
    z-index: -1;
    background-image: url("../images/cur.png");
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div.bgSelector div#bgColorSelector #bscParent #bscDrop {
    margin: 0;
    padding: 0;
    width: 100%;
}

div.bgSelector div#bgColorSelector #bscParent #bscDrop td span {
    display: block;
    width: 100%;
}
/*头部颜色切换 end*/


/*头部 start*/

a {
    color: #31b4e1;
    text-decoration: none;
}

/*log*/
.admin-header .admin-logo {
    float: left;
    height: 48px;
    position: relative;
    width: 204px;
}
.admin-logo .foldsider {
    bottom: 5px;
    cursor: pointer;
    position: absolute;
    right: 5px;
}
.admin-logo .foldsider i {
    color: #fff;
    font-size: 16px;
}

/*导航栏*/
.admin-header .module-menu {
    float: left;
    overflow: hidden;
}
.admin-header .module-menu ul {
    margin-left: -1px;
}

.admin-header .module-menu li {
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.15);
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 16px 0;
}
.admin-header .module-menu li.active a {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    opacity: 1;
}
.admin-header .module-menu li a {
    color: #fff;
    display: block;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    margin-left: 1px;
    margin-right: 2px;
    margin-top: -16px;
    opacity: 0.8;
    padding: 14px 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}


/*右边部分*/
.admin-header-right {
    float: right;
}
.admin-header-right .manager {
    float: left;
    height: 30px;
    margin-right: 20px;
    padding: 9px 0;
    position: relative;
    z-index: 2;
}
.admin-header-right .manager dl {
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    vertical-align: top;
}
.admin-header-right .manager dt {
    line-height: 14px;
}
.admin-header-right .manager dd {
    line-height: 16px;
}
.admin-header-right .manager .avatar {
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 30px;
    z-index: 1;
}
.admin-header-right .manager .avatar .admin-avatar-file {
    cursor: pointer;
    height: 28px;
    left: 1px;
    opacity: 0;
    position: absolute;
    top: 1px;
    width: 28px;
    z-index: 2;
}
.admin-header-right .manager .avatar img {
    border-radius: 50%;
    left: 0;
    max-height: 28px;
    max-width: 28px;
    position: absolute;
    top: 2px;
    z-index: 1;
}
.admin-header-right .operate {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.15);
    display: inline-block;
    float: left;
    height: 48px;
    padding: 0 20px 0 0;
    vertical-align: top;
}
.admin-header-right .operate li {
    float: left;
    position: relative;
    width: 48px;
    z-index: 1;
}

.admin-header-right .operate li .msg {
    background-position: 2px 2px;
}
.admin-header-right .operate li a {
    display: block;
    font-size: 0;
    height: 48px;
    position: relative;
    width: 48px;
    z-index: 1;
}
.admin-header-right .operate li a, .admin-header-right .operate i, .admin-main-left .admincj_nav .current .tit, .admin-main-left .admincj_nav .item .curr a, .contentWarp .section .sc_icon, i.ice, .stop, i.sc_icon, .explanation .ex_tit span, i.ico-check, .search .input .btn, .search .input .not_btn, .search .select_btn, .switch, .switch .circle, .s-back, .sort_point, .text_time .selbtn, .addList, .move_point {
    background: rgba(0, 0, 0, 0) url("../images/admin-icon.png") no-repeat scroll 0 0;
}
.admin-header-right .operate s {
    background-color: #ec5051;
    border-radius: 50%;
    color: #fff;
    height: 18px;
    position: absolute;
    right: 6px;
    text-align: center;
    text-decoration: inherit;
    top: 4px;
    width: 18px;
    z-index: 999;
}
.admin-header-right .operate i {
    background-position: -19px -62px;
    display: block;
    float: left;
    height: 20px;
    margin: 15px 5px 0;
    width: 1px;
}

